<!doctype html>
<html>
  <%- include('../__content_parts/html/htmlhead.ejs') %>
  <body>
    <div class="email-body">
      <div class="email-container">
        <div class="bar"></div>
        <div class="content">
          <div class="header">
            <div class="logo"><%-landlord.name%></div>
          </div>

          <p><%- include('../__content_parts/html/greetings.ejs') %></p>

          <p>
            <%- _.t('Please find attached the DATEV accounting export for {{period}}.', { period }) %>
          </p>

          <%- include('../__content_parts/html/signature.ejs') %>
        </div>
      </div>
      <%- include('../__content_parts/html/landlordcontact.ejs') %>
    </div>
  </body>
</html>
